h2 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
    letter-spacing: 0.5em;
}

body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Red_flag.svg/2000px-Red_flag.svg.png");
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText,.footerText {
    text-align: center;
}

.footerText {
    font-size: 10%;
}

#nesting{
    background-color: #ccc;
    padding: 200em
    font-family: monospace;
    letter-spacing: 0.5em;
    text-align: center;
}

#nesting p {
    padding: 200em
    font-family: monospace;
    letter-spacing: 0.5em;
    color: red;
    font-weight: bold;
    font-size: 80%;
}
